# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui-application/node_modules
/.pnp
.pnp.js

# testing
ui-application/coverage

# production
ui-application/build

# misc
.DS_Store
ui-application/.env.local
ui-application/.env.development.local
ui-application/.env.test.local
ui-application/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
